<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Email</title>
    <style>
      body { font-family: Arial, sans-serif; background-color: #f4f4f4; margin:
      0; padding: 0; display: flex; align-items: center; justify-content:
      center; height: 100vh; } .email-container { width: 100%; max-width: 600px;
      margin: 0 auto; background-color: #ffffff; padding: 20px; border-radius:
      8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); } .email-header {
      text-align: center; padding-bottom: 20px; } .email-header h1 { color:
      #4318a7; } .email-body { font-size: 16px; color: #333333; line-height:
      1.5; margin-bottom: 20px; } .email-body p { margin: 10px 0; } .button {
      display: inline-block; padding: 10px 20px; background-color: #4318a7;
      color: #ffffff; text-decoration: none; border-radius: 4px; text-align:
      center; font-size: 16px; } .footer { font-size: 14px; color: #777777;
      text-align: center; margin-top: 20px; } .footer a { color: #4318a7;
      text-decoration: none; }
    </style>
  </head>
  <body>
    <div class="email-container">
      <div class="email-header">
        <h1>Welcome, {{user.username}}!</h1>
      </div>
      <div class="email-body">
        <p>Thank you for registering with us! We are happy to see you on this platform.</p>
        <p>To get started, please activate your account by clicking the link
          below:</p>
        <p><a href="{{activationLink}}" class="button">Activate Account</a></p>
        <p>If you have any questions or need assistance, feel free to reach out
          to our support team:</p>
        <p><a href="{{supportLink}}" class="button">Contact Support</a></p>
      </div>
      <div class="footer">
        <p>Best regards,<br /> The Coppola</p>
        <p><a href="{{supportLink}}">Need help?</a>
          |
          <a href="{{activationLink}}">Activate Account</a></p>
      </div>
    </div>
  </body>
</html>